<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1>리뷰 목록</h1>
    <table class="table">
        <thead>
        <tr>
            <th>강의명</th>
            <th>교수님 성함</th> <th>별점</th>
            <th>리뷰 내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.courseName}">강의명</td>
            <td th:text="${review.professor}">교수님 성함</td> <td th:text="${review.rating}">별점</td>
            <td th:text="${review.comment}">리뷰 내용</td>
        </tr>
        </tbody>
    </table>
    <a href="/">홈으로 가기</a>
</div>
</body>
</html>